
@model IEnumerable<DataLayer.Entities.Album>


<p>
    <a asp-action="AlbumCreate">Create New Album</a> | 
    <a asp-action="GiveAlbumAccess">Share an Album</a>
</p>
<table class="table">
    <thead>
        Album Name
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    <a asp-action="AlbumUpdate" asp-route-id="@item.Album_Id">Edit</a> |
                    <a asp-action="AlbumDelete" asp-route-id="@item.Album_Id">Delete</a> |
                    <a asp-action="ViewPhotos" asp-route-id="@item.AlbumName">View Photos</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
