@model DataLayer.Entities.PhotoView

<div class="container body-content">
    <div class="row upload-cotainer">
        <div class="upload-form drop-shadow">
            <form asp-action="PhotoUpload"
                  method="post"
                  enctype="multipart/form-data"
                  id="upload-form">
                <div class="form-group">
                    <label asp-for="Album_Id"></label>
                    <input asp-for="Album_Id"class="form-control"/>
                </div>
                <div>
                    <label class="btn btn-defualt btn-file">
                        Browse Image
                        <input type="file" name="file" style="display: none" />
                    </label>
                </div>
                <div class="submit">
                    <button type="submit" id="btn-upload" class="btn btn-info">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> 


