@model DataLayer.Entities.PhotoView

<h4>Enter data for your photo</h4>
<hr/>
<div class="container body-content">
    <div class="row upload-cotainer">
        <div class="upload-form drop-shadow">
            <form asp-action="PhotoUpload"
                  method="post"
                  enctype="multipart/form-data"
                  id="upload-form">
                <div class="form-group">
                    Album Name
                    <input asp-for="AlbumName" class="form-control" />
                </div>
                @Html.LabelFor(model => model.FileName, "Select an Image or images to upload.")
                <div>

                    <label class="btn btn-defualt btn-file">
                        <input type="file" name="file" />
                    </label>
                </div>
                <div class="form-group">
                    Geo Location
                    <input asp-for="GeoLocation" class="form-control" />
                    <span asp-validation-for="GeoLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Date Captured
                    <input asp-for="CapturedDate" class="form-control" />
                    <span asp-validation-for="CapturedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Captured by user
                    <input asp-for="CapturedByUser" class="form-control" />
                    <span asp-validation-for="CapturedByUser" class="text-danger"></span>
                </div>
                <div class="submit">
                    <button type="submit" id="btn-upload" class="btn btn-info">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> 
<div>
    <a asp-action="Photo">Back to Photos</a>
</div>


