@model IEnumerable<DataLayer.Entities.Photo>

<h4>Your Photos in this Album</h4>
<table class="table">
    <thead>
        <tr>
            Photo Name
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.Raw(item.Url)" style="width: 100px; height: 100px;" />
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <a asp-action="MetaDataView" asp-route-id="@item.Photo_Id">Meta data</a> |
                    <a asp-action="PhotoDelete" asp-route-id="@item.Photo_Id">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Album">View All Albums</a>
</div>
